h1 {
    color: rgb(245, 45, 45);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

.text-common {
    font-family: 'Times New Roman', Times, serif;
}